.MP5{
	position: relative;
}

.MP5-line{
	height: 4px;
	width: 100%;
	background-color: #707070;
	position: absolute;
	top: 27px;
}

.MP5-text{
	z-index: 1;
	position: absolute;
	margin-left: 32%;
	width: 470px;
	height: 45px;
	top: 15px;
	padding:0 20px ;
	background-color: #FFFFFF;
}