.MP4{
	display: flex;
	flex-direction: row;
	margin: 60px auto;
	width: 1030px;
}

.MP4-cont{
	margin:0 50px;
	background-color: #ffffff;
	width: 106px;
	height: 37px;
	border:1px solid #707070 ;
}