.pre-footer{
    width: 1155px;
    margin: 0 auto;
    padding: 120px 105px 0 180px;
    height: 250px;
    display: flex;
    flex-direction: row;
}

.footer-img{
    margin-right: auto;
}

.footer-list{
    display: flex;
    flex-direction: row;
}

.footer-item{
    display: flex;
    flex-direction: column;
    margin: 0 75px;
}

.footer-link{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-link-important{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}