.bold-1{background-color: #1A13D9;}
.bold-2{background-color: #1A13D9;}
.bold-3{background-color: #1A13D9;}
.bold-4{background-color: #1A13D9;}
.bold-5{background-color: #1A13D9;}
.bold-6{background-color: #1A13D9;}
.bold-7{background-color: #1A13D9;}
.bold-8{background-color: #1A13D9;}
.bold-9{background-color: #1A13D9;}
.bold-10{background-color: #1A13D9;}
.bold-11{background-color: #1A13D9;}
.bold-12{background-color: #1A13D9;}
.bold-13{background-color: #1A13D9;}
.bold-14{background-color: #1A13D9;}
.bold-15{background-color: #1A13D9;}
.bold-16{background-color: #1A13D9;}
.bold-17{background-color: #1A13D9;}
.bold-18{background-color: #1A13D9;}
.bold-19{background-color: #1A13D9;}
.bold-21{background-color: #1A13D9;}
.bold-22{background-color: #1A13D9;}
.bold-23{background-color: #1A13D9;}
.item-0{background-color: #EDEDED;}
.item-1{background-color: #EDEDED;}
.item-2{background-color: #EDEDED;}
.item-3{background-color: #EDEDED;}
.item-4{background-color: #EDEDED;}
.item-5{background-color: #EDEDED;}
.item-6{background-color: #EDEDED;}
.item-7{background-color: #EDEDED;}
.item-8{background-color: #EDEDED;}
.item-9{background-color: #EDEDED;}
.item-10{background-color: #EDEDED;}
.item-11{background-color: #EDEDED;}
.item-12{background-color: #EDEDED;}
.item-13{background-color: #EDEDED;}
.item-14{background-color: #EDEDED;}
.item-15{background-color: #EDEDED;}
.item-16{background-color: #EDEDED;}
.item-17{background-color: #EDEDED;}
.item-18{background-color: #EDEDED;}
.item-19{background-color: #EDEDED;}
.item-20{background-color: #EDEDED;}
.item-21{background-color: #EDEDED;}
.item-22{background-color: #EDEDED;}
.item-23{background-color: #EDEDED;}
.item-24{background-color: #EDEDED;}
.item-25{background-color: #EDEDED;}
.item-26{background-color: #EDEDED;}
.item-27{background-color: #EDEDED;}
.item-28{background-color: #EDEDED;}
.item-29{background-color: #EDEDED;}
.item-30{background-color: #EDEDED;}
.item-31{background-color: #EDEDED;}
.item-32{background-color: #EDEDED;}
.item-33{background-color: #EDEDED;}
.item-34{background-color: #EDEDED;}
.item-35{background-color: #EDEDED;}
.item-36{background-color: #EDEDED;}
.item-37{background-color: #EDEDED;}
.item-38{background-color: #EDEDED;}
.item-39{background-color: #EDEDED;}
.item-40{background-color: #EDEDED;}
.item-41{background-color: #EDEDED;}
.item-42{background-color: #EDEDED;}
.item-43{background-color: #EDEDED;}
.item-44{background-color: #EDEDED;}
.item-45{background-color: #EDEDED;}
.item-46{background-color: #EDEDED;}
.item-47{background-color: #EDEDED;}
.item-48{background-color: #EDEDED;}
.item-49{background-color: #EDEDED;}
.item-50{background-color: #EDEDED;}
.item-51{background-color: #EDEDED;}
.item-52{background-color: #EDEDED;}
.item-53{background-color: #EDEDED;}
.item-54{background-color: #EDEDED;}
.item-55{background-color: #EDEDED;}
.item-56{background-color: #EDEDED;}
.item-57{background-color: #EDEDED;}
.item-58{background-color: #EDEDED;}
.item-59{background-color: #EDEDED;}
.item-60{background-color: #EDEDED;}
.item-61{background-color: #EDEDED;}
.item-62{background-color: #EDEDED;}
.item-63{background-color: #EDEDED;}
.item-64{background-color: #EDEDED;}
.item-65{background-color: #EDEDED;}
.item-66{background-color: #EDEDED;}
.item-67{background-color: #EDEDED;}
.item-68{background-color: #EDEDED;}
.item-69{background-color: #EDEDED;}
.item-70{background-color: #EDEDED;}
.item-71{background-color: #EDEDED;}
.item-72{background-color: #EDEDED;}
.item-73{background-color: #EDEDED;}
.item-74{background-color: #EDEDED;}
.item-75{background-color: #EDEDED;}
.item-76{background-color: #EDEDED;}
.item-77{background-color: #EDEDED;}
.item-78{background-color: #EDEDED;}
.item-79{background-color: #EDEDED;}
.item-80{background-color: #EDEDED;}
.item-81{background-color: #EDEDED;}
.item-82{background-color: #EDEDED;}
.item-83{background-color: #EDEDED;}
.item-84{background-color: #EDEDED;}
.item-85{background-color: #EDEDED;}
.item-86{background-color: #EDEDED;}
.item-87{background-color: #EDEDED;}
.item-88{background-color: #EDEDED;}
.item-89{background-color: #EDEDED;}
.item-90{background-color: #EDEDED;}
.item-91{background-color: #EDEDED;}
.item-92{background-color: #EDEDED;}
.item-93{background-color: #EDEDED;}
.item-94{background-color: #EDEDED;}
.item-95{background-color: #EDEDED;}
.item-96{background-color: #EDEDED;}
.item-97{background-color: #EDEDED;}
.item-98{background-color: #EDEDED;}
.item-99{background-color: #EDEDED;}
.item-100{background-color: #EDEDED;}
.item-101{background-color: #EDEDED;}
.item-102{background-color: #EDEDED;}
.item-103{background-color: #EDEDED;}
.item-104{background-color: #EDEDED;}
.item-105{background-color: #EDEDED;}
.item-106{background-color: #EDEDED;}
.item-107{background-color: #EDEDED;}
.item-108{background-color: #EDEDED;}
.item-109{background-color: #EDEDED;}
.item-110{background-color: #EDEDED;}
.item-111{background-color: #EDEDED;}
.item-112{background-color: #EDEDED;}
.item-113{background-color: #EDEDED;}
.item-114{background-color: #EDEDED;}
.item-115{background-color: #EDEDED;}
.item-116{background-color: #EDEDED;}
.item-117{background-color: #EDEDED;}
.item-118{background-color: #EDEDED;}